<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
  
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><fa-icon [icon]="['fas', 'home']"/> Home</a>
                </li>

                <li ngbDropdown class="nav-item">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="lessonDropdown" role="button" href="#">File</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="lessonDropdown">
                        <a class="dropdown-item" routerLink="/import-lesson">Import lesson(s)</a>
                        <a class="dropdown-item" routerLink="/create-lesson">Create lesson</a>
                        <a class="dropdown-item" routerLink="/edit-lesson">Edit lesson</a>
                        <a class="dropdown-item" routerLink="/explore-lesson">Explore lessons</a>
                        <a class="dropdown-item" routerLink="/export-lesson">Export lesson(s)</a>
                    </div>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" routerLink="/study-now">Study Now</a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" routerLink="/progress-statistics">Progress Statistics</a>
                </li>
  
                <li class="nav-item">
                    <a class="nav-link" routerLink="/achievements">Achievements</a>
                </li>
  
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="helpDropdown" role="button" href="#">Help</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="helpDropdown">
                        <a class="dropdown-item" routerLink="/glossary">Glossary</a>
                        <a class="dropdown-item" routerLink="/documentation">Documentation</a>
                        <a class="dropdown-item" routerLink="/support">Support</a>
                    </div>
                </li>

                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="profileDropdown" role="button" href="#">Profile</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" routerLink="/create-account">Create Account</a>
                        <a class="dropdown-item" routerLink="/login">Login</a>
                        <a class="dropdown-item" routerLink="/settings">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>  