<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Edit Form</title>
</head>
<body>
    <h1>Edit Lesson</h1>
    <p>Use this form to edit the details of the lesson.</p>
    <div class="container lesson-form-container" [formGroup]="lessonForm">
        <div class="row mt-2">
            <label class="col-md-2" for="title" [class]="lessonForm.get('title')?.invalid ? 'text-danger' : ''">Title</label>
            <input id="title" type="text" class="col-md-10" placeholder="Enter title" formControlName="title" [(ngModel)]="package.title">
        </div>
        <div class="row mt-2">
            <label class="col-md-2" for="description" [class]="lessonForm.get('description')?.invalid ? 'text-danger' : ''">Description</label>
            <input id="description" type="text" class="col-md-10" placeholder="Enter description" formControlName="description" [(ngModel)]="package.description">
        </div>
        <div class="row mt-2">
            <label class="col-md-2" for="category">Category</label>
            <input id="category" type="text" class="col-md-10" placeholder="Enter category" formControlName="category" [(ngModel)]="package.category">
        </div>
        <div class="row mt-2">
            <label class="col-md-2" for="level" ngbTooltip="Enter value between 1(basics) to 10(advanced)" placement="top">Level</label>
            <input id="level" type="number" class="col-md-10" min="1" max="10" placeholder="Enter level" formControlName="level" [(ngModel)]="package.level">
        </div>
        <div class="row mt-2">
            <label class="col-md-2" for="prerequisites">Prerequisite</label>
            <input id="prerequisites" type="text" class="col-md-10" placeholder="Enter prerequisite" formControlName="prerequisite" [(ngModel)]="package.prerequisite">
        </div>
        <div class="row mt-2">
            <label class="col-md-2" for="tags" ngbTooltip="Enter tags, separated by commas" placement="top">Tags</label>
            <input id="tags" type="text" class="col-md-10" placeholder="Enter tags" formControlName="tags" [(ngModel)]="package.tags">
        </div>
        <div class="row mt-1">
            <label class="col-md-2" for="license">License</label>
            <input id="license" type="text" class="col-md-10" placeholder="Enter license" formControlName="license" [(ngModel)]="package.license">
        </div>

        <br>

        <div class="row mt-2">
            <button type="button" class="btn btn-primary" (click)="onClickSubmit()" [disabled]="!lessonForm.valid">Submit</button>
                <span *ngIf="lessonForm.invalid" class="text-danger text-submit">
                    Please fill out all required fields.
                </span>  
        </div>
    </div>
</body>
</html>