<div class="container mt-4">
  <div class="select-container">
    <label for="chartType">Select Chart Type:</label>
    <br>
    <select id="chartType" class="custom-select" [(ngModel)]="selectedChartType" (change)="onChartTypeChange()">
      <option value="timesReviewed">Times Reviewed by Facts</option>
      <option value="minutes">Minutes by Package</option>
    </select>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="chart-title">Chart about your statistics (per fact or lesson)</h3>
      <p-chart type="bar" [data]="data"></p-chart>
    </div>
  </div>
</div>