/* styles.css */

.container {
  max-width: 800px;
  margin: 0 auto;
}
  
.select-container {
  margin-bottom: 20px;
}
  
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
  
.card-body {
  padding: 20px;
}
  
.chart-title {
  font-size: 20px;
  margin-bottom: 10px;
}
  
.p-chart {
  height: 700px;
  width: 100%;
}