.welcome-page {
    color: #0e0e0e;
    text-align: center;
    padding: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.welcome-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/pexels-rahul-pandit-1083633.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.welcome-page h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 0;
}

.welcome-page p {
    font-size: 1.5em;
    margin-bottom: 40px;
}