<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lesson Detail</title>
</head>
<body>
  <header>
    <h1>Anki Lesson Detail</h1>
  </header>

  <main>
    <section class="lesson-detail">
      <div class="lesson-detail-banner">
        <p>Lesson Detail</p>
      </div>

      <div class="lesson-detail-content">
        <h2>Lesson Information</h2>
        
        <div class="lesson-info">
          <label for="lesson-title">Title:</label>
          <p>{{ package.title }}</p>
          
          <label for="lesson-description">Description:</label>
          <p>{{ package.description }}</p>

          <label for="lesson-category">Category:</label>
          <p>{{ package.category }}</p>

          <label for="lesson-level">Level:</label>
          <p>{{ package.level }}</p>

          <label for="lesson-prerequisite">Prerequisite:</label>
          <p>{{ package.prerequisite }}</p>

          <label for="lesson-tags">Tags:</label>
          <p>{{ package.tags }}</p>

          <label for="lesson-license">License:</label>
          <p>{{ package.license }}</p>

          <br>
        </div>

        <a routerLink="/edit-lesson/{{ package.package_id }}">Edit Lesson</a>
      </div>

      <br>

      <div class="lesson-detail-content">
        <h2>Lesson Content</h2>
        
        <div class="lesson-info" *ngFor="let fact of facts; let i = index">
            <label for="fact-title">Fact n°{{ i + 1 }}:</label>
            <p>{{ fact.title }}</p>

            <label for="fact-fact">Description:</label>
            <p>{{ fact.fact }}</p>

            <a routerLink="/edit-fact/{{ fact.fact_id }}">Edit Fact</a>
            <a routerLink="/delete-fact/{{ fact.fact_id }}">Delete Fact</a>

            <br>
        </div>

        <a routerLink="/add-fact/{{ package.package_id }}">Add Fact</a>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Anki. All rights reserved.</p>
  </footer>
</body>
</html>